<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.pension.InstitutionVisitReservationMapper">

    <resultMap type="InstitutionVisitReservation" id="InstitutionVisitReservationResult">
        <result property="reservationId"     column="reservation_id"     />
        <result property="reservationNo"     column="reservation_no"     />
        <result property="institutionId"     column="institution_id"     />
        <result property="userId"            column="user_id"            />
        <result property="visitorName"       column="visitor_name"       />
        <result property="visitorPhone"      column="visitor_phone"      />
        <result property="visitDate"         column="visit_date"         />
        <result property="visitTime"         column="visit_time"         />
        <result property="visitorCount"      column="visitor_count"      />
        <result property="remark"            column="remark"             />
        <result property="status"            column="status"             />
        <result property="handleUser"        column="handle_user"        />
        <result property="handleTime"        column="handle_time"        />
        <result property="handleRemark"      column="handle_remark"      />
        <result property="createTime"        column="create_time"        />
        <result property="updateTime"        column="update_time"        />
    </resultMap>

    <resultMap id="InstitutionVisitReservationWithRelationsResult" type="InstitutionVisitReservation" extends="InstitutionVisitReservationResult">
        <result property="institutionName"   column="institution_name"   />
        <result property="userName"          column="user_name"          />
    </resultMap>

    <sql id="selectInstitutionVisitReservationVo">
        select reservation_id, reservation_no, institution_id, user_id,
               visitor_name, visitor_phone, visit_date, visit_time,
               visitor_count, remark, status, handle_user, handle_time,
               handle_remark, create_time, update_time
        from institution_visit_reservation
    </sql>

    <sql id="selectInstitutionVisitReservationWithRelationsVo">
        select r.reservation_id, r.reservation_no, r.institution_id, r.user_id,
               r.visitor_name, r.visitor_phone, r.visit_date, r.visit_time,
               r.visitor_count, r.remark, r.status, r.handle_user, r.handle_time,
               r.handle_remark, r.create_time, r.update_time,
               i.institution_name,
               u.user_name
        from institution_visit_reservation r
        left join pension_institution i on r.institution_id = i.institution_id
        left join sys_user u on r.user_id = u.user_id
    </sql>

    <select id="selectInstitutionVisitReservationList" parameterType="InstitutionVisitReservation" resultMap="InstitutionVisitReservationResult">
        <include refid="selectInstitutionVisitReservationVo"/>
        <where>
            <if test="reservationNo != null and reservationNo != ''"> and reservation_no = #{reservationNo}</if>
            <if test="institutionId != null"> and institution_id = #{institutionId}</if>
            <if test="userId != null"> and user_id = #{userId}</if>
            <if test="visitorName != null and visitorName != ''"> and visitor_name like concat('%', #{visitorName}, '%')</if>
            <if test="visitorPhone != null and visitorPhone != ''"> and visitor_phone = #{visitorPhone}</if>
            <if test="visitDate != null"> and visit_date = #{visitDate}</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectInstitutionVisitReservationWithRelationsList" parameterType="InstitutionVisitReservation" resultMap="InstitutionVisitReservationWithRelationsResult">
        <include refid="selectInstitutionVisitReservationWithRelationsVo"/>
        <where>
            <if test="reservationNo != null and reservationNo != ''"> and r.reservation_no = #{reservationNo}</if>
            <if test="institutionId != null"> and r.institution_id = #{institutionId}</if>
            <if test="userId != null"> and r.user_id = #{userId}</if>
            <if test="visitorName != null and visitorName != ''"> and r.visitor_name like concat('%', #{visitorName}, '%')</if>
            <if test="visitorPhone != null and visitorPhone != ''"> and r.visitor_phone = #{visitorPhone}</if>
            <if test="visitDate != null"> and r.visit_date = #{visitDate}</if>
            <if test="status != null and status != ''"> and r.status = #{status}</if>
        </where>
        order by r.create_time desc
    </select>

    <select id="selectInstitutionVisitReservationByReservationId" parameterType="Long" resultMap="InstitutionVisitReservationResult">
        <include refid="selectInstitutionVisitReservationVo"/>
        where reservation_id = #{reservationId}
    </select>

    <select id="selectInstitutionVisitReservationWithRelationsByReservationId" parameterType="Long" resultMap="InstitutionVisitReservationWithRelationsResult">
        <include refid="selectInstitutionVisitReservationWithRelationsVo"/>
        where r.reservation_id = #{reservationId}
    </select>

    <select id="countReservationsByInstitutionId" resultType="int">
        select count(1) from institution_visit_reservation where institution_id = #{institutionId}
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
    </select>

    <insert id="insertInstitutionVisitReservation" parameterType="InstitutionVisitReservation" useGeneratedKeys="true" keyProperty="reservationId">
        insert into institution_visit_reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reservationNo != null and reservationNo != ''">reservation_no,</if>
            <if test="institutionId != null">institution_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="visitorName != null and visitorName != ''">visitor_name,</if>
            <if test="visitorPhone != null and visitorPhone != ''">visitor_phone,</if>
            <if test="visitDate != null">visit_date,</if>
            <if test="visitTime != null and visitTime != ''">visit_time,</if>
            <if test="visitorCount != null">visitor_count,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="handleUser != null">handle_user,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handleRemark != null">handle_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reservationNo != null and reservationNo != ''">#{reservationNo},</if>
            <if test="institutionId != null">#{institutionId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="visitorName != null and visitorName != ''">#{visitorName},</if>
            <if test="visitorPhone != null and visitorPhone != ''">#{visitorPhone},</if>
            <if test="visitDate != null">#{visitDate},</if>
            <if test="visitTime != null and visitTime != ''">#{visitTime},</if>
            <if test="visitorCount != null">#{visitorCount},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="handleUser != null">#{handleUser},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handleRemark != null">#{handleRemark},</if>
         </trim>
    </insert>

    <update id="updateInstitutionVisitReservation" parameterType="InstitutionVisitReservation">
        update institution_visit_reservation
        <trim prefix="SET" suffixOverrides=",">
            <if test="reservationNo != null and reservationNo != ''">reservation_no = #{reservationNo},</if>
            <if test="institutionId != null">institution_id = #{institutionId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="visitorName != null and visitorName != ''">visitor_name = #{visitorName},</if>
            <if test="visitorPhone != null and visitorPhone != ''">visitor_phone = #{visitorPhone},</if>
            <if test="visitDate != null">visit_date = #{visitDate},</if>
            <if test="visitTime != null and visitTime != ''">visit_time = #{visitTime},</if>
            <if test="visitorCount != null">visitor_count = #{visitorCount},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="handleUser != null">handle_user = #{handleUser},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="handleRemark != null">handle_remark = #{handleRemark},</if>
        </trim>
        where reservation_id = #{reservationId}
    </update>

    <delete id="deleteInstitutionVisitReservationByReservationId" parameterType="Long">
        delete from institution_visit_reservation where reservation_id = #{reservationId}
    </delete>

    <delete id="deleteInstitutionVisitReservationByReservationIds" parameterType="String">
        delete from institution_visit_reservation where reservation_id in
        <foreach item="reservationId" collection="array" open="(" separator="," close=")">
            #{reservationId}
        </foreach>
    </delete>

</mapper>
