<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.pension.RefundRecordMapper">

    <resultMap type="RefundRecord" id="RefundRecordResult">
        <result property="refundId"    column="refund_id"    />
        <result property="refundNo"    column="refund_no"    />
        <result property="orderId"     column="order_id"     />
        <result property="paymentId"   column="payment_id"   />
        <result property="elderId"     column="elder_id"     />
        <result property="institutionId" column="institution_id" />
        <result property="refundAmount" column="refund_amount" />
        <result property="refundReason" column="refund_reason" />
        <result property="refundStatus" column="refund_status" />
        <result property="refundMethod" column="refund_method" />
        <result property="refundTime"   column="refund_time"   />
        <result property="approver"     column="approver"     />
        <result property="approveTime"  column="approve_time"  />
        <result property="approveRemark" column="approve_remark" />
        <result property="createTime"   column="create_time"   />
        <result property="updateTime"   column="update_time"   />
        <result property="serviceRefundAmount" column="service_refund_amount" />
        <result property="depositRefundAmount" column="deposit_refund_amount" />
        <result property="memberRefundAmount" column="member_refund_amount" />
        <result property="refundDesc" column="refund_desc" />
        <result property="evidenceImages" column="evidence_images" />
        <!-- 关联字段 -->
        <result property="elderName"    column="elder_name"    />
        <result property="institutionName" column="institution_name" />
        <result property="orderNo"      column="order_no"      />
        <result property="paymentNo"    column="payment_no"    />
    </resultMap>

    <sql id="selectRefundRecordVo">
        select refund_id, refund_no, order_id, payment_id, elder_id, institution_id, refund_amount, refund_reason, refund_status, refund_method, refund_time, approver, approve_time, approve_remark, create_by, create_time, update_by, update_time from refund_record
    </sql>

    <sql id="selectRefundRecordWithRelations">
        select rr.refund_id, rr.refund_no, rr.order_id, rr.payment_id, rr.elder_id, rr.institution_id,
               rr.refund_amount, rr.refund_reason, rr.refund_status, rr.refund_method, rr.refund_time,
               rr.approver, rr.approve_time, rr.approve_remark, rr.create_time, rr.update_time,
               rr.service_refund_amount, rr.deposit_refund_amount, rr.member_refund_amount,
               rr.refund_desc, rr.evidence_images,
               ei.elder_name, pi.institution_name, oi.order_no, pr.payment_no
        from refund_record rr
        left join elder_info ei on rr.elder_id = ei.elder_id
        left join pension_institution pi on rr.institution_id = pi.institution_id
        left join order_info oi on rr.order_id = oi.order_id
        left join payment_record pr on rr.payment_id = pr.payment_id
    </sql>

    <select id="selectRefundRecordList" parameterType="RefundRecord" resultMap="RefundRecordResult">
        <include refid="selectRefundRecordWithRelations"/>
        <where>
            <!-- 数据权限过滤: 如果传入了currentUserId,则只查询该用户有权限的机构的退款记录 -->
            <if test="currentUserId != null">
                and rr.institution_id IN (
                    SELECT institution_id FROM sys_user_institution WHERE user_id = #{currentUserId}
                )
            </if>
            <if test="refundNo != null  and refundNo != ''"> and rr.refund_no like concat('%', #{refundNo}, '%')</if>
            <if test="orderId != null "> and rr.order_id = #{orderId}</if>
            <if test="elderId != null "> and rr.elder_id = #{elderId}</if>
            <if test="institutionId != null "> and rr.institution_id = #{institutionId}</if>
            <if test="refundStatus != null  and refundStatus != ''"> and rr.refund_status = #{refundStatus}</if>
            <if test="refundReason != null  and refundReason != ''"> and rr.refund_reason like concat('%', #{refundReason}, '%')</if>
            <if test="approver != null  and approver != ''"> and rr.approver like concat('%', #{approver}, '%')</if>
        </where>
        order by rr.create_time desc
    </select>

    <select id="selectRefundRecordByRefundId" parameterType="Long" resultMap="RefundRecordResult">
        <include refid="selectRefundRecordWithRelations"/>
        where rr.refund_id = #{refundId}
    </select>

    <select id="selectRefundRecordByOrderId" parameterType="Long" resultMap="RefundRecordResult">
        <include refid="selectRefundRecordWithRelations"/>
        where rr.order_id = #{orderId}
        order by rr.create_time desc
    </select>

    <select id="selectRefundRecordByElderId" parameterType="Long" resultMap="RefundRecordResult">
        <include refid="selectRefundRecordWithRelations"/>
        where rr.elder_id = #{elderId}
        order by rr.create_time desc
    </select>

    <select id="selectRefundRecordByInstitutionId" parameterType="Long" resultMap="RefundRecordResult">
        <include refid="selectRefundRecordWithRelations"/>
        where rr.institution_id = #{institutionId}
        order by rr.create_time desc
    </select>

    <insert id="insertRefundRecord" parameterType="RefundRecord" useGeneratedKeys="true" keyProperty="refundId">
        insert into refund_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="refundNo != null">refund_no,</if>
            <if test="orderId != null">order_id,</if>
            <if test="paymentId != null">payment_id,</if>
            <if test="elderId != null">elder_id,</if>
            <if test="institutionId != null">institution_id,</if>
            <if test="refundAmount != null">refund_amount,</if>
            <if test="refundReason != null and refundReason != ''">refund_reason,</if>
            <if test="refundStatus != null">refund_status,</if>
            <if test="refundMethod != null and refundMethod != ''">refund_method,</if>
            <if test="refundTime != null">refund_time,</if>
            <if test="approver != null and approver != ''">approver,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="approveRemark != null and approveRemark != ''">approve_remark,</if>
            <if test="serviceRefundAmount != null">service_refund_amount,</if>
            <if test="depositRefundAmount != null">deposit_refund_amount,</if>
            <if test="memberRefundAmount != null">member_refund_amount,</if>
            <if test="refundDesc != null and refundDesc != ''">refund_desc,</if>
            <if test="evidenceImages != null and evidenceImages != ''">evidence_images,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="refundNo != null">#{refundNo},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="paymentId != null">#{paymentId},</if>
            <if test="elderId != null">#{elderId},</if>
            <if test="institutionId != null">#{institutionId},</if>
            <if test="refundAmount != null">#{refundAmount},</if>
            <if test="refundReason != null and refundReason != ''">#{refundReason},</if>
            <if test="refundStatus != null">#{refundStatus},</if>
            <if test="refundMethod != null and refundMethod != ''">#{refundMethod},</if>
            <if test="refundTime != null">#{refundTime},</if>
            <if test="approver != null and approver != ''">#{approver},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="approveRemark != null and approveRemark != ''">#{approveRemark},</if>
            <if test="serviceRefundAmount != null">#{serviceRefundAmount},</if>
            <if test="depositRefundAmount != null">#{depositRefundAmount},</if>
            <if test="memberRefundAmount != null">#{memberRefundAmount},</if>
            <if test="refundDesc != null and refundDesc != ''">#{refundDesc},</if>
            <if test="evidenceImages != null and evidenceImages != ''">#{evidenceImages},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRefundRecord" parameterType="RefundRecord">
        update refund_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="refundNo != null">refund_no = #{refundNo},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="paymentId != null">payment_id = #{paymentId},</if>
            <if test="elderId != null">elder_id = #{elderId},</if>
            <if test="institutionId != null">institution_id = #{institutionId},</if>
            <if test="refundAmount != null">refund_amount = #{refundAmount},</if>
            <if test="refundReason != null">refund_reason = #{refundReason},</if>
            <if test="refundStatus != null">refund_status = #{refundStatus},</if>
            <if test="refundMethod != null">refund_method = #{refundMethod},</if>
            <if test="refundTime != null">refund_time = #{refundTime},</if>
            <if test="approver != null">approver = #{approver},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveRemark != null">approve_remark = #{approveRemark},</if>
            <if test="serviceRefundAmount != null">service_refund_amount = #{serviceRefundAmount},</if>
            <if test="depositRefundAmount != null">deposit_refund_amount = #{depositRefundAmount},</if>
            <if test="memberRefundAmount != null">member_refund_amount = #{memberRefundAmount},</if>
            <if test="refundDesc != null">refund_desc = #{refundDesc},</if>
            <if test="evidenceImages != null">evidence_images = #{evidenceImages},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where refund_id = #{refundId}
    </update>

    <delete id="deleteRefundRecordByRefundId" parameterType="Long">
        delete from refund_record where refund_id = #{refundId}
    </delete>

    <delete id="deleteRefundRecordByRefundIds" parameterType="String">
        delete from refund_record where refund_id in
        <foreach item="refundId" collection="array" open="(" separator="," close=")">
            #{refundId}
        </foreach>
    </delete>

</mapper>