<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.pension.SupervisionWarningMapper">

    <resultMap type="SupervisionWarning" id="SupervisionWarningResult">
        <result property="warningId"        column="warning_id"        />
        <result property="warningNo"        column="warning_no"        />
        <result property="institutionId"    column="institution_id"    />
        <result property="institutionName"  column="institution_name"  />
        <result property="warningType"      column="warning_type"      />
        <result property="warningContent"   column="warning_content"   />
        <result property="warningLevel"     column="warning_level"     />
        <result property="warningStatus"    column="warning_status"    />
        <result property="contactPerson"    column="contact_person"    />
        <result property="contactPhone"     column="contact_phone"     />
        <result property="handler"          column="handler"           />
        <result property="handleTime"       column="handle_time"       />
        <result property="handleRemark"     column="handle_remark"     />
        <result property="isNotified"       column="is_notified"       />
        <result property="notifyTime"       column="notify_time"       />
        <result property="remark"           column="remark"            />
        <result property="createBy"         column="create_by"         />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"       />
    </resultMap>

    <sql id="selectSupervisionWarningVo">
        select warning_id, warning_no, institution_id, institution_name, warning_type, warning_content,
               warning_level, warning_status, contact_person, contact_phone, handler, handle_time, handle_remark,
               is_notified, notify_time, remark, create_by, create_time, update_by, update_time
        from supervision_warning
    </sql>

    <select id="selectSupervisionWarningList" parameterType="SupervisionWarning" resultMap="SupervisionWarningResult">
        <include refid="selectSupervisionWarningVo"/>
        <where>
            <if test="warningNo != null and warningNo != ''">
                and warning_no like concat('%', #{warningNo}, '%')
            </if>
            <if test="institutionId != null">
                and institution_id = #{institutionId}
            </if>
            <if test="institutionName != null and institutionName != ''">
                and institution_name like concat('%', #{institutionName}, '%')
            </if>
            <if test="warningType != null and warningType != ''">
                and warning_type = #{warningType}
            </if>
            <if test="warningLevel != null and warningLevel != ''">
                and warning_level = #{warningLevel}
            </if>
            <if test="warningStatus != null and warningStatus != ''">
                and warning_status = #{warningStatus}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectSupervisionWarningByWarningId" parameterType="Long" resultMap="SupervisionWarningResult">
        <include refid="selectSupervisionWarningVo"/>
        where warning_id = #{warningId}
    </select>

    <select id="selectSupervisionWarningByWarningNo" parameterType="String" resultMap="SupervisionWarningResult">
        <include refid="selectSupervisionWarningVo"/>
        where warning_no = #{warningNo}
    </select>

    <insert id="insertSupervisionWarning" parameterType="SupervisionWarning" useGeneratedKeys="true" keyProperty="warningId">
        insert into supervision_warning
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warningNo != null and warningNo != ''">warning_no,</if>
            <if test="institutionId != null">institution_id,</if>
            <if test="institutionName != null and institutionName != ''">institution_name,</if>
            <if test="warningType != null and warningType != ''">warning_type,</if>
            <if test="warningContent != null and warningContent != ''">warning_content,</if>
            <if test="warningLevel != null and warningLevel != ''">warning_level,</if>
            <if test="warningStatus != null and warningStatus != ''">warning_status,</if>
            <if test="contactPerson != null and contactPerson != ''">contact_person,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="handler != null and handler != ''">handler,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="handleRemark != null and handleRemark != ''">handle_remark,</if>
            <if test="isNotified != null and isNotified != ''">is_notified,</if>
            <if test="notifyTime != null">notify_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warningNo != null and warningNo != ''">#{warningNo},</if>
            <if test="institutionId != null">#{institutionId},</if>
            <if test="institutionName != null and institutionName != ''">#{institutionName},</if>
            <if test="warningType != null and warningType != ''">#{warningType},</if>
            <if test="warningContent != null and warningContent != ''">#{warningContent},</if>
            <if test="warningLevel != null and warningLevel != ''">#{warningLevel},</if>
            <if test="warningStatus != null and warningStatus != ''">#{warningStatus},</if>
            <if test="contactPerson != null and contactPerson != ''">#{contactPerson},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="handler != null and handler != ''">#{handler},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="handleRemark != null and handleRemark != ''">#{handleRemark},</if>
            <if test="isNotified != null and isNotified != ''">#{isNotified},</if>
            <if test="notifyTime != null">#{notifyTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateSupervisionWarning" parameterType="SupervisionWarning">
        update supervision_warning
        <trim prefix="SET" suffixOverrides=",">
            <if test="institutionId != null">institution_id = #{institutionId},</if>
            <if test="institutionName != null and institutionName != ''">institution_name = #{institutionName},</if>
            <if test="warningType != null and warningType != ''">warning_type = #{warningType},</if>
            <if test="warningContent != null and warningContent != ''">warning_content = #{warningContent},</if>
            <if test="warningLevel != null and warningLevel != ''">warning_level = #{warningLevel},</if>
            <if test="warningStatus != null and warningStatus != ''">warning_status = #{warningStatus},</if>
            <if test="contactPerson != null and contactPerson != ''">contact_person = #{contactPerson},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="handler != null and handler != ''">handler = #{handler},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="handleRemark != null and handleRemark != ''">handle_remark = #{handleRemark},</if>
            <if test="isNotified != null and isNotified != ''">is_notified = #{isNotified},</if>
            <if test="notifyTime != null">notify_time = #{notifyTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where warning_id = #{warningId}
    </update>

    <delete id="deleteSupervisionWarningByWarningId" parameterType="Long">
        delete from supervision_warning where warning_id = #{warningId}
    </delete>

    <delete id="deleteSupervisionWarningByWarningIds" parameterType="String">
        delete from supervision_warning where warning_id in
        <foreach item="warningId" collection="array" open="(" separator="," close=")">
            #{warningId}
        </foreach>
    </delete>

</mapper>
