<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.OrderInfoMapper">

    <resultMap type="OrderInfo" id="OrderInfoResult">
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="orderType"    column="order_type"    />
        <result property="elderId"     column="elder_id"     />
        <result property="institutionId"    column="institution_id"    />
        <result property="checkInId"    column="check_in_id"    />
        <result property="bedId"       column="bed_id"       />
        <result property="orderAmount"    column="order_amount"    />
        <result property="paidAmount"    column="paid_amount"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="paymentMethod"    column="payment_method"    />
        <result property="paymentTime"    column="payment_time"    />
        <result property="orderDate"    column="order_date"    />
        <result property="serviceStartDate"    column="service_start_date"    />
        <result property="serviceEndDate"    column="service_end_date"    />
        <result property="billingCycle"    column="billing_cycle"    />
        <result property="monthCount"    column="month_count"    />
        <result property="originalAmount"    column="original_amount"    />
        <result property="discountAmount"    column="discount_amount"    />
        <result property="dueDate"     column="due_date"     />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
        <result property="remark"     column="remark"     />
        <result property="elderName" column="elder_name" />
        <result property="institutionName" column="institution_name" />
        <result property="roomNumber" column="room_number" />
        <result property="bedNumber" column="bed_number" />
    </resultMap>

    <sql id="selectOrderInfoVo">
        select o.order_id, o.order_no, o.order_type, o.elder_id, o.institution_id, o.check_in_id,
               o.bed_id, o.order_amount, o.paid_amount, o.order_status, o.payment_method,
               o.payment_time, o.order_date, o.service_start_date, o.service_end_date,
               o.billing_cycle, o.month_count, o.original_amount, o.discount_amount,
               o.due_date, o.create_by, o.create_time, o.update_by, o.update_time, o.remark,
               e.elder_name, i.institution_name, b.room_number, b.bed_number
        from order_info o
        left join elder_info e on o.elder_id = e.elder_id
        left join pension_institution i on o.institution_id = i.institution_id
        left join bed_info b on o.bed_id = b.bed_id
    </sql>

    <select id="selectOrderInfoList" parameterType="OrderInfo" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        <where>
            <!-- 数据权限过滤: 如果传入了currentUserId,则只查询该用户有权限的机构的订单 -->
            <if test="currentUserId != null">
                and o.institution_id IN (
                    SELECT institution_id FROM sys_user_institution WHERE user_id = #{currentUserId}
                )
            </if>
            <if test="orderNo != null  and orderNo != ''"> and o.order_no like concat('%', #{orderNo}, '%')</if>
            <if test="orderType != null  and orderType != ''"> and o.order_type = #{orderType}</if>
            <if test="elderId != null "> and o.elder_id = #{elderId}</if>
            <if test="institutionId != null "> and o.institution_id = #{institutionId}</if>
            <if test="checkInId != null "> and o.check_in_id = #{checkInId}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and o.order_status = #{orderStatus}</if>
            <if test="paymentMethod != null  and paymentMethod != ''"> and o.payment_method = #{paymentMethod}</if>
            <if test="elderName != null  and elderName != ''"> and e.elder_name like concat('%', #{elderName}, '%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(o.order_date,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(o.order_date,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
        order by o.order_date desc, o.create_time desc
    </select>

    <select id="selectOrderInfoByOrderId" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where o.order_id = #{orderId}
    </select>

    <select id="selectOrderInfoByOrderNo" parameterType="String" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where o.order_no = #{orderNo}
    </select>

    <select id="selectOrdersByCheckInId" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where o.check_in_id = #{checkInId}
        order by o.order_date desc
    </select>

    <select id="selectOrdersByElderId" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where o.elder_id = #{elderId}
        order by o.order_date desc
    </select>

    <insert id="insertOrderInfo" parameterType="OrderInfo" useGeneratedKeys="true" keyProperty="orderId">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="orderType != null and orderType != ''">order_type,</if>
            <if test="elderId != null">elder_id,</if>
            <if test="creatorUserId != null">creator_user_id,</if>
            <if test="institutionId != null">institution_id,</if>
            <if test="checkInId != null">check_in_id,</if>
            <if test="bedId != null">bed_id,</if>
            <if test="orderAmount != null">order_amount,</if>
            <if test="paidAmount != null">paid_amount,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="paymentMethod != null and paymentMethod != ''">payment_method,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="serviceStartDate != null">service_start_date,</if>
            <if test="serviceEndDate != null">service_end_date,</if>
            <if test="billingCycle != null and billingCycle != ''">billing_cycle,</if>
            <if test="monthCount != null">month_count,</if>
            <if test="originalAmount != null">original_amount,</if>
            <if test="discountAmount != null">discount_amount,</if>
            <if test="dueDate != null">due_date,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="elderId != null">#{elderId},</if>
            <if test="creatorUserId != null">#{creatorUserId},</if>
            <if test="institutionId != null">#{institutionId},</if>
            <if test="checkInId != null">#{checkInId},</if>
            <if test="bedId != null">#{bedId},</if>
            <if test="orderAmount != null">#{orderAmount},</if>
            <if test="paidAmount != null">#{paidAmount},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="paymentMethod != null and paymentMethod != ''">#{paymentMethod},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="serviceStartDate != null">#{serviceStartDate},</if>
            <if test="serviceEndDate != null">#{serviceEndDate},</if>
            <if test="billingCycle != null and billingCycle != ''">#{billingCycle},</if>
            <if test="monthCount != null">#{monthCount},</if>
            <if test="originalAmount != null">#{originalAmount},</if>
            <if test="discountAmount != null">#{discountAmount},</if>
            <if test="dueDate != null">#{dueDate},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateOrderInfo" parameterType="OrderInfo">
        update order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="orderType != null and orderType != ''">order_type = #{orderType},</if>
            <if test="elderId != null">elder_id = #{elderId},</if>
            <if test="institutionId != null">institution_id = #{institutionId},</if>
            <if test="checkInId != null">check_in_id = #{checkInId},</if>
            <if test="bedId != null">bed_id = #{bedId},</if>
            <if test="orderAmount != null">order_amount = #{orderAmount},</if>
            <if test="paidAmount != null">paid_amount = #{paidAmount},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="paymentMethod != null and paymentMethod != ''">payment_method = #{paymentMethod},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="serviceStartDate != null">service_start_date = #{serviceStartDate},</if>
            <if test="serviceEndDate != null">service_end_date = #{serviceEndDate},</if>
            <if test="billingCycle != null and billingCycle != ''">billing_cycle = #{billingCycle},</if>
            <if test="dueDate != null">due_date = #{dueDate},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <update id="updateOrderPaymentStatus">
        update order_info
        set order_status = #{orderStatus},
            payment_method = #{paymentMethod},
            payment_time = #{paymentTime}
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderInfoByOrderId" parameterType="Long">
        delete from order_info where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderInfoByOrderIds" parameterType="String">
        delete from order_info where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>